@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #353535;
}

.offset:before{
    display:block;
    content:"";
    height: 4rem;
    margin-top: -4rem;
}

/*--Nav--*/
.navbar {
text-transform: uppercase;
font-weight: 700;
font-size: .9rem;
letter-spacing: .1rem;
background-color: rgba(0,0,0,0.8) !important;
}

.navbar-brand img {
    height: 2rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .6rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #7100ce;
}

/*--Landing--*/
.home-inner {
    background-image: url(img/banner.jpg);
    filter: brightness(55%);
}

.caption {
    width:100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1{
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption h3{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

/*--About me --*/
.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 2rem;
    border-radius: 0;
}

.jumbotron p{
    font-size: 0.9rem;
}
h3.heading {
font-size:1.9rem;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 1.9rem;
}
.heading-underling{
width: 12rem;
height: .2rem;
background-color: #7100ce;
margin: 0 auto 2rem;
}

.headshot img {
    width:80%;
    border-radius: 50%;
    display:block;
    margin: auto;
}

.softSkills{
    text-align: center;
}

/*skills*/

.fixed{
    background-image: url(img/cta01.jpg);
    filter: brightness(65%);
    z-index:-1;
}
.dark{
    background-color: rgba(0,0,0,0.2);
    color:white;
    padding: 4rem 2rem;
}
.dark h2{
    font-size:1.9rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.9rem;
}

.feature svg.svg-inline--fa {
    color:#7100ce;
    filter: drop-shadow(0rem 0rem 0.4rem white);
}

.fixed-background h3{
font-size: 1.3rem;
text-transform: uppercase;
margin-bottom: 2rem;
padding-bottom: .4rem;
}
.fixed-background p{
    margin-top: 1.5rem;
font-size: 1.1rem;
}

/*--Portfolio--*/
#portfolio {
    text-align: center;
    margin-bottom: 0;
    padding: 2rem 0 2rem;
}

.project{

    margin: 0.2rem;
}

.project h6{
    font-weight: 700;
}

.project p {
    font-size: .8rem;
}

.project img {
    border: 3px solid #7100ce;
    width: 100%;
    display: block;
    margin: auto;
}



/*Contact Me*/
.lead {
    background-color: rgba(0,0,0,0.8);
    color:white;
}

.btn-secondary {
    border-width: medium;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: 1rem;
    color:white;
    background-color: #7100ce;
    border-color: #7100ce;
}

.btn-secondary:hover {
    background-color: #3a0069;
    border-color: #3a0069;
}



/*--Footer--*/
footer {
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 2rem 0 2rem 0;
    text-align: center;
    margin-top: -1rem;;
}

footer img {
    width: 5rem;
    height: 5rem;
    margin: 1.5rem 0;
}

footer a {
    color: white;
}

footer svg.svg-inline--fa{
    font-size: 3rem;
    margin: 1.2rem 0.5rem 0 0.5rem;
}
footer svg.svg-inline--fa:hover{
    color: #7100ce !important;
}

hr.socket{
width:100%;
border-top: 0.2rem solid #353535
}
