body {
    background: #39150C url(img/background.jpg) no-repeat fixed top center;
}

.wrapper
{
    margin: auto;
    width: 75%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/*Header image*/

/*Login*/

/*Nav Bar*/

#sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

nav {
    text-align: center;
    background: linear-gradient(green, lightgreen);
    border-top: green 2px solid;
    border-radius: 0 0 50px 50px;
    margin-top: -40px;
    font-size: 30px;
    height: 45px;
    width: 100%;
    z-index: 10;
}

nav li {
    display: inline-block;
}

#navButt {
    background-color: transparent;
    display: inline-block;
    border: none;
    color: white;
    width: 100px;
    outline:none;
    margin: 0 5PX 0 5PX;
    height: 45px;
    padding: 0;
}
input {
    display: inline-block;
    width: 120px;
    margin: 0 -20px 0 -2px;
    padding: 0 20px 0 15px;
    height: 30px;
    text-align: center;
    padding: 0;
    border-radius: 50px;
    outline: none;
    
}
#navButt:hover, #searchButt:hover {
    background-color: green;
    border-radius: 50px;
    border: none;
    outline:none;
    height: 30px;
}
#navButt:active, #searchButt, #searchButt:active {
    background-color: darkgreen;
    border-radius: 50px;
    color: white;
    border: none;
    outline:none;
    height: 30px;
}


/*Splash*/

/*Filters*/

/*Top Sale*/

/*Games & Content*/

h1 {
    background-color: black;
    height: 2000px;
}

/*Footer*/