body {
    background: #39150C url(img/background.jpg) no-repeat fixed top center;
}

div.clear {
    clear:both;
    font-size: 1%;
}

.wrapper {
    margin: auto;
    margin-top: -10px;
    width: 80%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/*Scrollbar Settings*/
::-webkit-scrollbar {
    height: thin;
    margin: 10px 10px 10px 10px;
    z-index: -1;
}
::-webkit-scrollbar-track {
    box-shadow: 0 0 4px;
    background-color: gray;
    border-radius: 10px;
    width: 50%;
    height: 50%
}
::-webkit-scrollbar-thumb {
    background: darkgreen;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: green;
}

/*Header image*/

/*Login*/
.Login {
    position: fixed;
    right:12.75%;
    bottom: 0;
    width: 10%;
    height: 25px;
    text-align: center;
    padding: 11px 0 0 0;
    z-index: 2;
    border-radius: 50px 50px 0 0px;
    background-color: rgb(0, 175, 0);
    color:white;
}

.Login a, .Login a:visited {
    color:white;
    
}

/*Nav Bar*/

/*#Logo {
    
    width: 100px;
    margin: auto;
    height: 45px;
    border-radius: 50px;
}*/

#stick {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#Navigation {
    text-align: center;
    background: linear-gradient(green, lightgreen);
    box-shadow: 0px 0px 10px #777;
    border-radius: 0 0 50px 50px;
    margin-top: 0px;
    font-size: 30px;
    height: 45px;
    width: 100%;
    z-index: 10;
    position: relative;
    top: -1px;
}

#Navigation li {
    display: inline-block;
}

#navButt {
    background-color: transparent;
    display: inline-block;
    border: none;
    color: white;
    width: 100px;
    outline: none;
    margin: 0 5PX 0 5PX;
    height: 45px;
    padding: 0;
}

input {
    display: inline-block;
    width: 120px;
    margin: 0 -20px 0 0;
    padding: 0 20px 0 15px;
    height: 30px;
    text-align: center;
    padding: 0;
    border-radius: 50px;
    outline: none;
}

#navButt:hover, #searchButt:hover {
    background-color: green;
    border-radius: 50px;
    border: none;
    outline: none;
    height: 30px;
}

#navButt:active, #searchButt, #searchButt:active {
    background-color: darkgreen;
    border-radius: 50px;
    color: white;
    border: none;
    outline: none;
    height: 30px;
}

/*Splash*/
.Splish {
    z-index: -1;
    top: -20;
}
.Splash {
    width: 100%;
    height: 350px;
    display: flex;
    overflow-x: auto;
    border-radius: 0 0 50px 50px;
    box-shadow: 0px 0px 10px #777;
    margin: -45px 0 0 0;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    
}

.Splash img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    z-index: -2;
}

.SplashNav{
    width: 100%;
    height: 15px;
    float: top;
    text-align: center;
    z-index: 1;
}

#SplashNavA, #SplashNavA:active, #SplashNavA:hover, .SplashNav a {
    background-color: green;
    border-radius: 50%;
    outline:none;
    text-align: center;
    padding: 2px 2px 2px 2px;
    width: 15px;
    color:white;
    height: 15px;
    text-decoration: none;
    margin: auto;
    z-index: 2;
}

/*Filters*/
.sidebar{

    float: left;
    position: relative;
    box-shadow: 1px 1 5 #777;
    width: 20%;
}
.filters {
    height: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px #777;
    border-radius: 25px;
    text-align: center;

}

#price
{
    width:30px;
    height: 30px;
}
.CheckBoxes {
    display: block;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.CheckBoxes input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0px;
    right: 40px;
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 50%;
}
.CheckBoxes:hover input ~ .checkmark {
    background-color: darkgrey;
}
  .CheckBoxes input:checked ~ .checkmark {
      background-color: green;
    }
    /*Top Sale*/
.HotSale {
    
    background-color: darkgreen;
    box-shadow: 0px 0px 10px #777;
    border-radius: 25px;
    text-align: center;
    margin: 10px 0 10px 0;
    padding: 10px;
    color: white;
}
#SaleContent {
    margin: -10px 0 -10px 0;
    padding: 10px;
}
.HotSale img {
    background-color: black;
    object-fit: cover;
    width: 80%;
    border-radius: 5px;
    border: solid white 5px;
}
/*Games & Content*/

.content{
    
    width: 72%;
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0px 0px 10px #777;
    float: right;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    
}

#GameBox{
    text-align: center;
    height: 200px;
    color: white;
    width: 200px;
    background-color: green;
    box-shadow: 0px 0px 10px #777;
    border-radius: 25px;
    margin: 15px 3% 15px 3%;
    overflow: hide;
    padding: 5px;
}
#GameBox button, #SaleButt {
    color: white;
    background-color: transparent;
    bottom: 0px;    
    border: 1px solid white;
    text-transform: uppercase;
}
#GameBox button:hover, #SaleButt:hover {
    background-color: #FBF3DB;
    border: 1px solid black;
    color:black;
}
#GameBox p { 
    font-size: medium;
    margin: 0 0 0 0; 
}
#GameBox img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-radius: 25px;
}


/*Footer*/

footer {
    background-color: darkgreen;
    height: 20px;
    border-radius: 50px 50px 0 0;
    color: #fff;
    text-align: center;
    margin:auto;
    padding: 5px 5px 5px 5px;
    position: relative;
    bottom:-10px;
}

footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 3px;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 0 3px 0 0;
    margin: 0;
    
}
footer ul li::before {
    content: " | ";
    padding-right: 3px;
    
}
footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
    
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
/*Attempting mobile support*/
@media only screen and (max-width: 900px){
    .filters {
        
        overflow: hidden;
        text-align: left;
        height: 350px;
    }
}
@media only screen and (max-width: 660px) {
    #Navigation {
        text-align: center;
        background-color: green;
        box-shadow: 0px 0px 10px #777;
        border-radius: 0;
        margin: 0px;
        font-size: 10px;
        height: 45px;
        width: 100%;
        z-index: 10;
        position: relative;
        top: -1px;
    }
    #Navigation li {
        display: inline-block;
    }
    
    #navButt {
        background-color: transparent;
        display: inline-block;
        border: none;
        color: white;
        outline: none;
        margin: 10px;
        width: 100%;
        height: 25px;
        padding: 0;
    }
    #navButt:hover, #searchButt:hover {
        background-color: green;
        border-radius: 50px;
        border: none;
        outline: none;
        height: 30px;
    }
    
    #navButt:active, #searchButt, #searchButt:active {
        background-color: darkgreen;
        border-radius: 50px;
        color: white;
        border: none;
        outline: none;
        height: 30px;
    }
    .head{
        margin: 0px;
        width:100%;
    }
    .Splash{
        border-radius: 0px;
        height: 200px;
    }
    .Splash img {
        width: 100%;
        flex-shrink: 0;
        height: 100%;
        object-fit: cover;
        scroll-snap-align: start;
        scroll-behavior: smooth;
        z-index: -2;
    }
    .sidebar{
        float: initial;
        width: 100%;
    }
    
    .HotSale
    {
        display:none;
    }
    .filters {
        width:90%;
        height: 250px;
        font-size: 8px;
        padding: 3px;
        margin: auto;
        overflow: hidden;
        text-align: center;
    }
    .content{
        width: 90%;
        margin: 10px 5px 10px 5px;
        padding: 5px;
    }
    .MobileWrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;    
        align-items: center;
        justify-content: center;
    }
    #searchButt, nav input {
        display: none;
    }
    footer
    {
        height: 10%;
        position: relative;
        bottom: -10px;
        font-size: 1em;
    }
    .Login {
        position: fixed;
        right: 0;
        top: 0;
        width: 15%;
        height: 25px;
        text-align: center;
        padding: 4px 0 0 0;
        z-index: 2;
        border-radius: 0 0 0 50px;
        background-color: rgb(0, 175, 0);
        color:white;
    }
            .wrapper {
              width: 100%;
              margin:0;
              padding:0;
            }
            body {
                padding: 0;
                margin: 0px;
            }
    
}